:root{
    --sp-text-color:#333333;
    --sp-bg-color:#194D44;
    --sp-tip-bg-color:#297C6B;
    --sp-interactive-text-color:#5BC8AF;
    --sp-faded-bg-color:#EAEAEA;
    --sp-tooltip-bg-color:#FF7777;
    --sp-normal-bg-color:#F5F5F5;
    --sp-font-size-normal:14px;
    --sp-font-size-large:18px;
    --sp-font-size-xl:28px;
    --sp-font-size-3xl:64px;
    --sp-font-weight-normal:400;
    --sp-font-weight-semi-bold:700;

}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--sp-font-size-normal);
}

.header-section{
    background-image: url("assets/header/1440/header.svg");
    background-size: cover; /* Ensures the image covers the entire area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:2em;
    position: relative;

    .header-info-container{

        color:white;
        display: flex;
        padding:0em 8vw;
        gap:5em;
        justify-content:space-evenly;
        padding-bottom:7em;

        .header-info{
            display: flex;
            flex:2;
            flex-direction: column;

            span{
                line-height: 2em;
                margin-top: 2em;
            }

            img{
                width: 100%;
            }
        }

        .form-header{
            font-size:var(--sp-font-size-xl);
            font-weight: var(--sp-font-weight-semi-bold);
        }

        .contact{
            background: linear-gradient(180deg, #2A7D6C 0%, rgba(62, 105, 96, 0.62) 100%);
            padding:4em 2em;
            border-radius: 1em;
            height: 32em;
            flex:1;
            
            .form-container{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
                gap:1em;

                .form-header{
                    grid-row:1/5;
                    grid-column: 1/ span 2;
                    justify-self: center;
                }
                .input-firstname{
                    grid-row:2/5;
                    grid-column: 1/2;
                }
                .input-lastname{
                    grid-row:2/5;
                    grid-column: 2/2;
                }
                .input-email{
                    grid-row:3/5;
                    grid-column: 1/2;
                }
                .input-company{
                    grid-row:3/5;
                    grid-column: 2/2;
                }
                .input-country{
                    grid-row:4/5;
                    grid-column: 1/ span 2;
                }
                .input-submit{
                    grid-row:5/5;
                    grid-column: 1/ span 2;
                    justify-self: center;
                    width: 50%;
                }

                input,select{
                    height: 4em;
                    width: 100%;
                    
                }
                button{
                    height: 3em;
                    background-color: #5BC8AF;
                    box-shadow: 0px 4px 6px 0px #00000014;
                    border: 0px;
                    border-radius: 0.25em;
                    font-weight: var(--sp-font-weight-semi-bold);
                    font-size: var(--sp-font-size-large);
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;

                    img{
                        width: 1.5em;
                        height: 1.5em;
                        margin-right: 0.5em;
                    }
                }
            }
        }
    }

    .header-edge{
        position: absolute;
        width:100%;
        bottom:-0.3em;
        .image1{
            position: absolute;
            bottom:0em;
            width:100%;

            img{
                width: 100%;
            }
        }
        .image2{
            position: absolute;
            bottom:0em;
            width: 100%;

            img{
                width: 100%;
            }
        }
    }
}

.understand-section{

    display: flex;
    flex-direction: column;
    padding:5vh 8vw;
    position: relative;
    background-color: #F5F5F5;

    .understand-images{
        display: flex;
        gap:2.5em;
        width: 100%;

        div{
            width: 100%;

            img{
                width: 100%;
                height: 100%;
            }
        }
        p{
            line-height: 2em;            
        }
    }

    .understand-title{
        display: flex;
        flex-direction: row;
        gap:2em;
        padding:5vh 0vw;
        align-items: center;

        div:nth-child(2){
            width: 100%;
        }
    }

    .understand-content-1{

       display: flex;
        flex-direction: row;
        gap: 2.5em;
        p{
            line-height: 1.75em;
            flex: 1;

            .success-btn{
                width: 100%;
                border: 2px solid rgba(91, 200, 175, 1);
                background: white;
                font-weight: var(--sp-font-weight-semi-bold);
                font-size: var(--sp-font-size-large);
                color:rgba(91, 200, 175, 1);
                padding:1em;
                margin-top:1em;
            }
        }
    }

    .understand-content-2{
        display: none;
    }
}

.organize-section{

    padding:5vh 8vw;

    .organize-title{
        display: flex;
        flex-direction: row;
        gap:2em;
        padding:5vh 0vw;
        align-items: center;

        div:nth-child(2){
            width: 100%;
        }

        img{
            width: 100%;
        }
    }

    .organize-content-1{

        display: flex;
        flex-direction: row;
        gap: 2.5em;
        margin-bottom:5vh;
        p{
            line-height: 1.75em;
            flex: 1;
        }
        p:nth-child(1){
            font-style: italic;
            font-size: var(--sp-font-size-large);
            line-height: 2em;
        }
    }
    .organize-content-2{

        display: grid;
        column-gap: 2vw;
        row-gap: 5vh;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;



        button{
            border: 2px solid rgba(91, 200, 175, 1);
            background-color: white;
            font-family: 'Montserrat', sans-serif;
            padding:2vh 3vw;
            font-weight: 700;
            font-size: var(--sp-font-size-large);
            line-height: 2em;
            text-align: center;
            border-radius: 0.25em;
            position: relative;
            display: inline-block;
            cursor: pointer;

            span:nth-child(2){
                vertical-align: middle;
                img{
                    vertical-align: middle;
                }
            }
        }

        .info-icon{
            visibility:hidden;
            margin-left:0.1vw;
        }

        .tooltip-text {
            position: absolute;
            top: 110%; /* Positions above the element */
            left: 50%;
            transform: translateX(-50%);
            background: rgba(41, 124, 107, 1);
            box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
            color: white;
            width: 20vw;
            font-size: 13px;
            line-height: 1.75em;
            font-weight: 400;
            padding: 1vh 2vw;
            border-radius: 4px;
            white-space:wrap;
            visibility: hidden;
            opacity: 0;
            z-index: 1234;
            transition: opacity 0.3s ease-in-out;
        }

        .tooltip-text::after {
            content: "";
            position: absolute;
            bottom: 100%;
            left: 50%;
            transform: translateX(-50%);
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent rgba(41, 124, 107, 1) transparent; /* Creates a triangle */
        }

        button:hover {
            color: rgba(91, 200, 175, 1);

            .tooltip-text {
                visibility: visible;
                opacity: 1;
            }
            .info-icon {
                visibility:visible;
            }
        }

    }
}

.video-section{
    position: relative;
    background-color: white;
    display: flex;
    color:white;

    .video-info{
        display: flex;
        flex-direction: column;
        gap:2em;
        padding:11vh 0vw 7vh 8vw;
        z-index: 3;

        .video-info-title{
            width: 100%;
        }

        .video-info-content{
            div{
                display: inline-block;
            }
            div img{
                margin-right: 1vw;
            }
            div span{
                font-weight: 700;
                font-size: 24px;
                line-height: 32px;
            }
            p{
                font-size: 18px;
                line-height: 28px;
                margin-left: 2.5vw;
                margin-top:1vh;
                color: rgba(255, 255, 255, 0.8);
                width: 40%;
            }
        }
    }

    >picture img{
        position: absolute;
        object-fit: cover;
        height: 100%;
    }

    .video-bg-img-1{
        top: 0em;
        left: 0em;
        width: 54%;
        z-index: 2;
    }
    .video-bg-img-2{
        top: 0em;
        left: 0em;
        width: 56%;

        z-index: 1;
    }
    .video-bg-img-3{
        top: 0em;
        width: 50%;
        right: 0em;
    }

    .video-player{
        position: absolute;
        left:70%;
        top:35%;
        border: 2px solid rgba(255, 255, 255, 0.3);
        background-color: rgba(91, 200, 175, 0.1);
        border-radius: 50%;
        transition: transform 0.3s ease-in-out, border-width 0.3s ease-in-out;
        z-index: 5;
        &:hover{
             transform: scale(1.1);

             .play-img {
                transform: scale(0.8);
            }
        }

        .play-img {
            transition: transform 0.3s ease-in-out;
            width: 14.5em;
            height: 14.5em;
        }
    }
}
.footer-section{
    background: rgba(234, 234, 234, 1);
    color: rgba(117, 117, 117, 1);
    line-height: 1.75em;
    display: flex;
    justify-content: space-between;
    padding:5vh 8vw;
}

