@media screen and (max-width:360px) {

    body{
        background-color: #FFFFFF;
    }

    .header-section{
        background: linear-gradient(to bottom, rgba(27, 72, 53, 0) 0% ,  rgba(27, 72, 53, 1) 30%, rgba(27, 72, 53, 1) 100% ),
                url('assets/header/360/header360.svg');
        background-position: top; 
        background-repeat: no-repeat;
        padding-bottom:5em;

        .navbar-container{
            padding:1em 5vw;
        }

        .header-info-container{
            gap:1em;
            padding:0em 5vw;
            margin-bottom: unset;
            .header-info{
                width: 100%;
                line-height: 24px;

                img{
                    width: unset;
                }

                span{
                    width: unset;
                }
            }
            .contact{
                padding:4em 2em;
                height: auto;
                width: 100%;
            
                .form-container{
                    display: flex;
                    flex-direction: column;
                    gap:1.5em;

                    input,select{
                        height: 4em;
                        width: 100%;
                        
                    }

                    .input-company{
                        grid-row:3/ span 1;
                        grid-column: 2/2;
                        position: relative;

                        label{
                            background:#2e6b5c;
                        }
                        input:focus + label,
                        input:valid + label {
                            background:#2e6b5c;
                        }
                    }

                    .input-submit{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                        height: 2.5em;
                        margin-top: 1em;
                    }

                    label {
                        left: 12px;
                        top: 30%;
                        padding: 0em 0.4em;
                    }

                    /* Move label up when input is focused or has text */
                    input:focus + label,
                    input:valid + label {
                        top: -20%;
                    }
                }
            }
        }

        .header-edge{
            position: absolute;
            width:100%;
            .image1{
                position: absolute;
                bottom:-0.3em;
                width:100%;

            }
            .image2{
                position: absolute;
                bottom:-0.3em;
                width: 100%;
            }
        }
    } 
    
    .understand-section{

        padding:5vw;
        background-color: white;

        .understand-images{
            display: none;
        }

        .understand-title{

            padding:unset;
        }

        .understand-content-1{
            display: flex;
            padding-top:2em;
            flex-direction: column;
            gap:1em;
        }

        .understand-content-2{
            display: none;
        }
    }

    .organize-section{
        padding:0vh 5vw 2vh 5vw;
        .organize-content-1{
            display: flex;
            flex-direction: column;
            margin-bottom:10vh;
            gap:3em;

            p:nth-child(1){
                line-height: 1.5em;
            }
        }

        .organize-content-2{
            display: grid;
            column-gap: 3vw;
            row-gap: 3vh;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            
            button{
                padding:3vh 3vw;
            }

             .tooltip-text{
                width: 80vw;
            }
        }
    }

    .video-section{
        
        .video-info{
            padding:10vh 5vw 17vh 5vw;

           .video-info-content{
           
            div span{
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
                margin-left: 8vw;
                margin-top:1vh;
                color: rgba(255, 255, 255, 0.8);
                width: 90%;
            }
        }
        }

        .video-player{
            left:35vw;
            top:92%;
           
            .play-img {
                transition: transform 0.3s ease-in-out;
                width: 7em;
                height: 7em;
            }
        }

        .video-container {
            left:10vw;
            top:125%;
            video{
                width: 80vw;
            }
        }
    }

    .footer-section{
        font-size: 12px;
        line-height: 22px;
        padding: 2em 1em;

        .video-logo{
            top:-50%;
        }
    }
}