@media screen and (max-width:768px) {

    .header-section{
        background-image: url("assets/header/768/header768.svg");
        background-size: cover; /* Ensures the image covers the entire area */
        background-position: center; /* Centers the image */
        background-repeat: no-repeat; /* Prevents tiling */
        gap:5em;

        .header-info-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            line-height: 2em;
            gap:1em;
            margin-bottom: 8vh;
            padding: 0em 2em;

                .contact{
                width: 70%;
                margin-bottom: 7em;
                padding:4em 2em 2em 2em;
                height: unset;

                .input-submit{
                    width: 50%;
                    button{
                        width: 100%;
                    }
                }
            }
        }

        .header-edge{
            position: absolute;
            width:100%;
            bottom: -0.3em;
            .image1{
                position: absolute;
                bottom:0em;
                width:100%;

            }
            .image2{
                position: absolute;
                bottom:0em;
                width: 100%;
            }
        }
    }

    .understand-section{
        padding:2vh 3vw;

        .understand-content-2{

            display: flex;
            flex-direction: row;
            gap: 2.5em;
            p{
                line-height: 1.75em;
                flex: 1;

                .success-btn{
                    width: 100%;
                    border: 2px solid rgba(91, 200, 175, 1);
                    background: white;
                    font-weight: var(--sp-font-weight-semi-bold);
                    font-size: var(--sp-font-size-large);
                    color:rgba(91, 200, 175, 1);
                    padding:1em;
                    margin-top:1em;
                    border-radius: 0.25em;
                }
            }
        }

        .understand-content-1{
            display: none;
        }
    }
    
    .organize-section{
        padding:0vh 3vw 2vh 3vw;
        .organize-content-1{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom:10vh;
            row-gap: 1vh;
            column-gap:2vh;
            width: 100%;

            p:nth-child(1){
                grid-row:1;
                grid-column: 1/span 2;
            }
            
            p:nth-child(2){
                grid-row:2;
                grid-column: 1;
            }
            
            p:nth-child(3){
                grid-row:2;
                grid-column: 2;
            }
        }

        .organize-content-2{
            display: grid;
            column-gap: 3vw;
            row-gap: 3vh;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;

            .tooltip-text{
                width: 40vw;
            }
        }
    }

    .video-section{
        
        .video-info{
            padding:11vh 3vw 15vh 3vw;

            div:nth-child(1){
                text-align: center;
            }

            div:nth-child(2){
                margin-top:4vh;
            }

            .video-info-content{
                div img{
                    margin-right: 2vw;
                }
                p{
                    margin-left: 5vw;
                    width: 95%;
                }
            }
        }

       .video-bg-img-1{
            top: 0vh;
            left: 0em;
            width:100%;
            z-index: 2;
        }
        .video-bg-img-2{
            top: 3vh;
            left: 0em;
            width: 100%;
            z-index: 1;
        }
        .video-bg-img-3{
            top: 65vh;
            width: 100%;
            right: 0em;
        }
    }

    .footer-section{
        display: flex;
        position: relative;
        top:60vh;
        gap:1vh;
        flex-direction: column;
        align-items: center;
        padding: 2vh 5vw;
    }
}