@media screen and (max-width:360px) {

    body{
        background-color: #FFFFFF;
    }

    .header-section{
        background: linear-gradient(to bottom, rgba(27, 72, 53, 0) 0% ,  rgba(27, 72, 53, 1) 30%, rgba(27, 72, 53, 1) 100% ),
                url('assets/header/360/header360.svg');
        background-position: top; 
        background-repeat: no-repeat;
        padding-bottom:5em;

        .navbar-container{
            padding:1em;
        }

        .header-info-container{
            gap:1em;
            padding:0em 1em;
            margin-bottom: unset;
            .header-info{
                width: 100%;
            }
            .contact{
                padding:4em 2em;
                height: auto;
                width: 100%;
            
                .form-container{
                    display: flex;
                    flex-direction: column;
                    gap:1em;

                    input,select{
                        height: 4em;
                        width: 100%;
                        
                    }

                    .input-submit{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                        height: 2.5em;
                        margin-top: 1em;
                    }
                }
            }
        }

        .header-edge{
            position: absolute;
            width:100%;
            .image1{
                position: absolute;
                bottom:-0.3em;
                width:100%;

            }
            .image2{
                position: absolute;
                bottom:-0.3em;
                width: 100%;
            }
        }
    } 
    
    .understand-section{

        padding:1em;

        .understand-images{
            display: none;
        }

        .understand-title{

            padding:unset;
        }

        .understand-content-1{
            display: flex;
            padding-top:2em;
            flex-direction: column;
            gap:1em;
        }

        .understand-content-2{
            display: none;
        }
    }
}