@media screen and (max-width:360px) {

    body{
        background-color: #FFFFFF;
    }

    .header-section{
        background: linear-gradient(to bottom, rgba(27, 72, 53, 0) 0% ,  rgba(27, 72, 53, 1) 30%, rgba(27, 72, 53, 1) 100% ),
                url('assets/header/360/header360.svg');
        background-position: top; 
        background-repeat: no-repeat;
        padding-bottom:5em;

        .navbar-container{
            padding:1em;
        }

        .header-info-container{
            gap:1em;
            padding:0em 1em;
            margin-bottom: unset;
            .header-info{
                width: 100%;
            }
            .contact{
                padding:4em 2em;
                height: auto;
                width: 100%;
            
                .form-container{
                    display: flex;
                    flex-direction: column;
                    gap:1em;

                    input,select{
                        height: 4em;
                        width: 100%;
                        
                    }

                    .input-submit{
                        width: 100%;
                    }
                    button{
                        width: 100%;
                        height: 2.5em;
                        margin-top: 1em;
                    }
                }
            }
        }

        .header-edge{
            position: absolute;
            width:100%;
            .image1{
                position: absolute;
                bottom:-0.3em;
                width:100%;

            }
            .image2{
                position: absolute;
                bottom:-0.3em;
                width: 100%;
            }
        }
    } 
    
    .understand-section{

        padding:1em;
        background-color: white;

        .understand-images{
            display: none;
        }

        .understand-title{

            padding:unset;
        }

        .understand-content-1{
            display: flex;
            padding-top:2em;
            flex-direction: column;
            gap:1em;
        }

        .understand-content-2{
            display: none;
        }
    }

    .organize-section{
        padding:0vh 3vw 2vh 3vw;
        .organize-content-1{
            flex-direction: column;
            margin-bottom:10vh;
        }

        .organize-content-2{
            display: grid;
            column-gap: 3vw;
            row-gap: 3vh;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            
            button{
                padding:3vh 3vw;
            }

             .tooltip-text{
                width: 80vw;
            }
        }
    }

    .video-section{
        
        .video-info{
            padding:10vh 3vw 17vh 3vw;

           .video-info-content{
           
            div span{
                font-weight: 700;
                font-size: 18px;
                line-height: 24px;
            }
            p{
                font-size: 14px;
                line-height: 24px;
                margin-left: 8vw;
                margin-top:1vh;
                color: rgba(255, 255, 255, 0.8);
                width: 90%;
            }
        }
        }

        .video-player{
            left:35%;
            top:92%;
           
            .play-img {
                transition: transform 0.3s ease-in-out;
                width: 7em;
                height: 7em;
            }
        }
    }

    .footer-section{
        font-size: 12px;
        line-height: 22px;
        padding: 2em 1em;
    }
}